header {
    background-color: lightblue;
    padding: 10px
}

h2 {
    font-size: 22px;
}

.hidden {
    display: none;
}

.forecast-cards {
    background-color: navy;
    color: white;
    border-radius: 10px;
    border: solid lightgray 3px;
}

.history-button {
    text-transform: capitalize;
}
